/*IMPORTAR FUENTES*/
/*
@font-face {
    font-family: 'coolvetica';
    src: url(../fonts/coolvetica.ttf);
}
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');


/*********ESTILOS GENERALES***********/

/*Reset Css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*Definiciones de alineado*/
.align-item-center{
    display: flex;
    align-items: center;
}
.justify-content-center{
    display: flex;
    justify-content: center;
}

.sectionQueOfrecemos{
    font-size: 0.8rem;
    line-height: 1.5;
    background-color: #2366a7;
    color: white;
}
/*Contacto*/
.grid-container_Contacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.Contacto {
    background-color: white;
    color:  black;
}
/*Pie de Pagina*/
.PiedePagina{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    line-height: 1.5;
    background-color: #2366a7;
    color: white;
}



