/*IMPORTAR FUENTES*/
/*
@font-face {
    font-family: 'coolvetica';
    src: url(../fonts/coolvetica.ttf);
}
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');


/*********ESTILOS GENERALES***********/

/*Reset Css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*********ESTILOS GENERALES***********/

/* propiedades header */

.card_main{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #2366a7;
    color: white;
    display:flex;
}

.main_index{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main_index ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* tamaño contenedor logo */
.header_div{
    width: 48%;
    height: 100%;
}
/* tamaño logo */
header div img{
    width: 200px;
    height: 130px;
    max-height: 160px;
    max-width: 4500px;
}
/* tamaño contenedor navegador */
.card_header_nav_ul{
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    flex-wrap: wrap;
}
/* propiedades contenedor listas */

/* propiedades listas navegación */
header nav ul li{
padding: 10px;
}
/* listas */
header nav ul li a{
    color: white;
    font-size: 120%;
    text-decoration: none;
}
.inputMenu{
    display: none;
}

.menu li {  
    display: flex;
    margin-right: 20px;
    flex-direction: row;
}

.menu a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}
/*********Query mobile***********/

@media only screen and (max-width: 600px) {
    /* Ocultar el menú y mostrar el botón de hamburguesa */
    .main_index ul {
        display: none;
    }
    .inputMenu {
        display: block;
    }

    /* Ajustes para el botón de hamburguesa */
    .inputMenu {
        position: absolute;
        top: 20px;
        right: 20px;
        z-index: 10;
        cursor: pointer;
    }

    /* Mostrar el menú al hacer clic en el botón de hamburguesa */
    .inputMenu:checked + .menu {
        display: block;
    }

    /* Ajustes para el menú desplegable */
    .menu {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        background-color: #2366a7;
        text-align: center;
    }

    .menu li {
        display: block;
        margin: 10px 0;
    }
}


/*Definiciones de alineado*/
/*.align-item-center{
    display: flex;
    align-items: center;
}
.justify-content-center{
    display: flex;
    justify-content: center;
}*/

/*
.sectionQueOfrecemos{
    font-size: 0.8rem;
    line-height: 1.5;
    background-color: #2366a7;
    color: white;
}*/

/*Contacto*/
/*.grid-container_Contacto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.contacto {
    background-color: white;
    color:  black;
}*/

/*Pie de Pagina*/
/*.piedePagina{
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    line-height: 1.5;
    background-color: #2366a7;
    color: white;
}*/